<h1>All Pizzas</h1>

<% if auth_logged_in? %>
  <div class="row">
    <div class="col s12">
      <a class="btn" id="new-pizza-form-container-button" href="/pizzas/new">New Pizza</a>
      <!-- Hidden Div for our form -->     
    </div>
    <div id="new-pizza-form-container" class="col s12" style="display: none;"></div>
  </div>
<% end %>

<div id="pizzas" class="row">
<% @pizzas.each do |pizza| %>
  <%= erb :'pizzas/_item', locals: {:pizza => pizza } %>
<% end %>
</div>
