<html>
<body>
<nav>
<a href="/">Tinder Pizza</a> 
| <a href="/pizzas">All Pizzas</a>
| <a href="/pizzas/new">New Pizza</a>
| <a href="/about_us">About</a>
| <a href="/login">Login</a>
| <a href="/register">Register</a>
| <a href="/logout">Logout</a>
</nav>

<div class="flash"><%= flash[:message] %></div>

<%= yield %>

<footer><small>What should go in a footer?</small></footer>
</body>
</html>