<h1>Add Topping to <a href="/pizzas/<%= @pizza.id %>"><%= @pizza.name %></a></h1>

<div id="new_topping_container">
  <%= erb :'toppings/_form', locals: {:topping => @topping, :pizza => @pizza } %>
</div>

